{% extends 'index.html' %}
{% block body %}
<div>
    <div class="col-lg-8 d-flex align-items-stretch">
      <div class="card w-200">
        <div class="card-body p-4">
          
          <h5 class="card-title fw-semibold mb-4">User Details</h5>
          <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Id</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Name of the Task</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">User</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">App Points</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Image</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for i in task %}
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">1</h6></td>
                  <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1">{{i.id}}</h6>
                      <span class="fw-normal">{{i.name}}</span>                          
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{i.user}}</p>
                  </td>
                  <td class="border-bottom-0">
                    <div class="d-flex align-items-center gap-2">
                      <span class="badge bg-primary rounded-3 fw-semibold">{{i.apppoint}}</span>
                    </div>
                  </td>
                  <td class="border-bottom-0">
                    <img src="{{ i.image.url }}" alt="{{ i.name }}" style="max-width: 100px; max-height: 100px;">
                  </td>
                </tr> 
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>App Details</b></h2></div>
                    
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>category</th>
                        <th>Subcategory</th>
                        <th>Link</th>
                        <th>Points</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr colspan="2">
                    {% for i in collections %}
                        <td>{{i.name}}</td>
                        
                        <td  width="20"> <p>
                            <div style="word-wrap: break-word;">
                            <span style="font-weight: bold; display: inline;"></span> <br>{{i.category}}<br></p></td>
                            </div>
                      
                            <td  width="20"> <p>
                                <div style="word-wrap: break-word;">
                                <span style="font-weight: bold; display: inline;"></span> <br>{{i.subcategory}}<br></p></td>
                                </div>
                            <td  width="20"> <p>
                                    <div style="word-wrap: break-word;">
                                    <span style="font-weight: bold; display: inline;"></span> <br>{{i.link}}<br></p></td>
                                    </div>


                            <td  width="20"> <p>
                                    <div style="word-wrap: break-word;">
                                    <span style="font-weight: bold; display: inline;"></span> <br>{{i.points}}<br></p></td>
                                    </div>
                                    <td><img src="{{ i.image.url }}" alt="{{ i.name }}" style="max-width: 100px; max-height: 100px;"></td>
                        <td>
                          <a class="edit" href="{% url 'admininterface:editapp' i.id %}" title="Edit" data-toggle="tooltip"><i class='bx bx-edit'></i></a>
                         <a class="delete" href="{% url 'admininterface:deleteapp' i.id %}" title="Delete" data-toggle="tooltip"><i class="bx bx-trash"></i>

                       </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>     




{% endblock %}