{% extends 'index.html' %}

{% block body %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Add App</h4>
    <div style="display: flex; flex-wrap: wrap; margin-top: 10px;">
        <div style="flex: 2; margin-right: 10px;">
            <input type="text" name="name" placeholder="name" style="width: 100%;">
        </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="flex: 1; margin-right: 10px;">
            <select name="category" style="width: 100%;">
                <option value="" disabled selected>Select Category</option>
                <!-- Add your category options here -->
                <option value="Entertainment">Entertainment</option>
                <option value="Social">Social</option>
                <option value="Education">Education</option>
            </select>
        </div>
        <div style="flex: 1; margin-left: 10px;">
            <select name="subcategory" style="width: 100%;">
                <option value="" disabled selected>Select Subcategory</option>
                <!-- Add your subcategory options here -->
                <option value="Learning">Learning</option>
                <option value="Find friends">Find friends</option>
                <option value="Technology">Technology</option>
            </select>
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; margin-top: 10px;">
        <div style="flex: 2; margin-right: 10px;">
            <input type="text" name="link" placeholder="Link" style="width: 100%;">
        </div>
        <div style="flex: 1;">
            <input type="file" name="image" accept="image/*" style="width: 100%;">
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; margin-top: 10px;">
        <div style="flex: 1; margin-right: 10px;">
            <input type="number" name="Points" placeholder="Points" style="width: 100%;">
        </div>
        
    </div>
     <div>
        <br>
        <br>
            <input type="submit" value="Submit">
        </div>
    
</form>
{% endblock %}
