{% extends 'userindex.html' %}
{% block body %}

<div class="page-wrapper bg-grey p-t-10 p-b-20">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="title" style="color: black; text-align: center;">Upload Screenshot</h2>
                <form method="POST" action="{% url 'userinterface:home' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <label>Name of the App</label>
                            <input type="text" name='app_name' class="form-control" value="{{name}}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label>Points</label>
                            <input type="text" name='points' class="form-control" value="{{points}}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="inputAddress">Image</label>
                            <input type="file" name='image' class="form-control" id="inputAddress" placeholder="Image">
                        </div>
                    </div>

                    <div class="mt-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
