{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Register </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Dont Have an Account?</h3>
                  <h3 class="text-center mb-4">Register</h3>
						<form action="#" method="POST" class="login-form">
                            {% csrf_token %}

		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" name="name" placeholder="name" required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="text" class="form-control rounded-left" name="email" placeholder="email" required>
	            </div>
                <div class="form-group d-flex">
                    <input type="password" class="form-control rounded-left" name="password" placeholder="password" required>
                  </div>
                <div class="form-group d-flex">
                    <input type="text" class="form-control rounded-left" name="username" placeholder="username" required>
                </div>
                <div class="form-group d-flex">
                    <input type="textbox" class="form-control rounded-left" name="Description" placeholder="Description" required>
                  </div>
	           
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Register</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

